// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    overflow-y: scroll;
}

.pagination {
    flex-wrap: wrap;
}

.userimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 26rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    margin-bottom: 1rem;
}

.options {
    position: absolute;
    top: 0;
    right: 0;
}

.options .btn {
    border: none;
}

.editEventForm {
    margin-top: 1rem;
    display: none;
}

.image-small {
    height: 5rem;
    width: 5rem;
}

@include media-breakpoint-up(lg) {
    #sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 4.5rem;
        height: fit-content;
    }
}

@include media-breakpoint-up(lg) {
    #sidebar-card {
        max-height: 80vh;
        overflow-y: auto;
    }
}

main {
    margin-top: 3rem;
}

.card-header {
    background-color: $secondary;
    color: white;
}

.card {
    background-color: #f2f5f7;
}

.event-card {
    background-color: #f8fafc;
}

#left-navbar {
    width: 60%;
    white-space: nowrap;
}

.modal-open {
    overflow: visible !important;
    padding-right: 0 !important;
}

.navbar {
    padding-right: 0 !important;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.carousel-item {
    height: 20rem;
}

.form-control {
    background-color: #f2f5f7;
}

.white-field {
    background-color: #f8fafc;
}

#clearFilters {
    display: none;
}

.private {
    font-size: large;
    font-variant: small-caps;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

p.fst-italic {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.userRow {
    align-items: center;
}

.userRow:nth-child(odd) {
    background-color: #dcd1dd;
}
